/*============================
 Common style starts from here
 =============================*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    /**/
}


.container {
    display: block;
    max-width: 1140px;
    margin: 0 auto;
}

.section-gap {
    margin-top: 130px;
}

.btn-primary {
    display: inline-block;
    height: 64px;
    padding: 0 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
}

.section-title {
    font-size: 40px;
    font-weight: 700;
    color: #151414;

}

.text-center {
    text-align: center;
}

/*============================
    Common style ends here 
 =============================*/
/*============================
    Header style starts from here 
 =============================*/
.main-header {
    width: 100%;
    height: 100vh;
    background: url(../asset/images/banner/banner3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.inner-header {
    height: 100%;
}

.header-content {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-texts {
    width: 100%;
    text-align: right;
}

.header-main-text {
    font-size: 65px;
    color: #fff;
    margin-bottom: 24px;
    font-weight: 700;
}

.header-paragraph {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 2rem;
}

/*============================
    Header style Ends here 
 =============================*/
/*============================
failure section style starts here 
 =============================*/
.failure-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.failure-right {
    margin-bottom: 80px;
}

.failure-main-text {
    margin-bottom: 25px;
}

.failure-paragraph {
    font-size: 1rem;
    color: #444343;
    margin-bottom: 1rem;
}

.failure-list {
    list-style: none;
}

.failure-list li {
    font-size: 1rem;
    color: #444343;
    margin-bottom: 0.5rem;
}

.failure-list li span {
    color: #16D887;
    margin-right: 10px;
}

/*============================
failure section style Ends here 
 =============================*/
/*============================
Skills section style starts here 
 =============================*/
.skills-section-title {
    margin-bottom: 50px;
}

.skill-cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.skill-card {
    padding: 25px;
    border: 1px solid #0000004d;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.skill-icon {
    margin-top: 30px;
    margin-bottom: 1rem;
}

.skill-icon i {
    font-size: 60px;
    color: #16D887;
}

.skill-title {
    font-size: 28px;
    margin-bottom: 0.6rem;
}

.skill-description span {
    display: block;
    color: #444343;
    font-size: 1rem;
}

.skill-description span:first-child {
    margin-bottom: 1rem;
}

/*============================
Skills section style Ends here 
 =============================*/
/*============================
Plans section style starts here 
 =============================*/

.plans-section-title {
    margin-bottom: 50px;
}

.plans-items {
    display: flex;
    justify-content: space-evenly;
}

.plans-item {
    text-align: center;
}

.plans-item img {
    display: block;
    margin: 0 auto;
}

.plans-title {
    font-size: 30px;
    font-weight: 700;
    color: #151414;
}

.plans-sub-title {
    font-size: 25px;
    color: #737272;
}

/*============================
Plans section style Ends here 
 =============================*/
/*============================
Mindset section style Starts here 
 =============================*/
.mindset-content {
    background: url(../asset/images/watch.png), linear-gradient(90deg, rgba(0, 95, 172, 100%), rgb(0, 95, 172, 0%));
    background-blend-mode: overlay;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 64px;
}

.mindset-main h2 {
    margin-bottom: 24px;
    color: #fff;
}

/*============================
Mindset section style Ends here 
 =============================*/
/*============================
Footer section style Starts here 
 =============================*/
.main-footer {
    background-color: #151414;
    padding: 130px 20px;
    color: #fff;
}

.footer-main {
    display: flex;
    justify-content: space-between;
}

.footer-title {
    color: #fff;
    margin-bottom: 1rem;
}

.footer-description {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.phone-email {
    list-style: none;
}

.phone-email li {
    margin-bottom: 1rem;
}

.social-links {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 17px;
}

.footer-left-title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 31px;
}

.footer-email {
    padding: 22px;
    background: none;
    font-size: 18px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 8px;
    margin-bottom: 1rem;
    outline: none;
}

.footer-submit-btn {
    color: #fff;
    background: #005FAC;
}

/*============================
Footer section style Ends here 
 =============================*/